@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Employee Management System</h1>
    <p>Employee Create, Read, Update and Delete</p>

    <div class="btn-group" role="group">
        <a class="btn btn-primary" asp-area="" asp-page="/Employee/Index">Employee List</a>
        <a class="btn btn-secondary" asp-area="" asp-page="/Employee/EmployeeHistoryList">Audit Log</a>
    </div>
</div>
