@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Employee Management System</h1>
    <p>Employee Create, Read, Update and Delete</p>
</div>
